---
import { format } from 'date-fns';

import BaseHeader from '~/components/base-header.astro';
import {
EmailIcon,
GithubIcon,
MdiLinkedin,
TwitterXIcon,
} from '~/components/ui/icons';
import { useI18n } from '~/i18n/utils';
import Main from '~/layouts/main.astro';
import { getPostInfoList, type PostInfo } from '~/libs/mdx';

const { url } = Astro;
const { p, t } = useI18n(url);

const allNotes = await getPostInfoList();

const yearList = Object.entries(
  allNotes
    .reduce<{ [year: string]: PostInfo[] }>((ac, v) => {
      const year = new Date(v.date).getFullYear();
      if (!ac[year]) ac[year] = [];
      ac[year].push(v);
      return ac;
    }, {}),
).sort(([yearA], [yearB]) => +yearB - +yearA);

const title = t('nav.note');
---



<Main>
  <BaseHeader title={`Don't stop`} />
  <div data-animate data-animate-speed="slow">
    <div class="my-7" set:html={t('index.desc')} />
    <div class="my-7">
      <p set:html={t('index.currentWork')} />
      <div data-animate class="mt-1 flex gap-0.5">
        <a
          style="--lv-wait: 1;"
          class="rounded p-1 transition-colors hover:bg-selection hover:text-body"
          href="mailto:me@xolving.com"
        >
          <EmailIcon />
        </a>
        <a
          style="--lv-wait: 1;"
          class="rounded p-1 transition-colors hover:bg-selection hover:text-body"
          href="https://github.com/enbraining"
          target="_blank"
        >
          <GithubIcon />
        </a>
        <a
          style="--lv-wait: 1;"
          class="rounded p-1 transition-colors hover:bg-selection hover:text-body"
          href="https://twitter.com/enbraining"
          target="_blank"
        >
          <TwitterXIcon />
        </a>
        <a
          style="--lv-wait: 1;"
          class="rounded p-1 transition-colors hover:bg-selection hover:text-body"
          href="https://www.linkedin.com/in/enbraining/"
        >
          <MdiLinkedin />
        </a>
      </div>
    </div>
    <div class="my-14 flex gap-7">
      <div data-animate class="flex flex-col gap-1">
        {
          (['note'] as const).map((item) => (
            <div style="--lv-wait: 2;">
              <a class="link font-bold" href={p(`/${item}`)}>
                {t(`nav.${item}`)}
              </a>
              <span class="ml-3 text-sm">{t(`nav.${item}.desc`)}</span>
            </div>
          ))
        }
      </div>
    </div>
  </div>
  {
    yearList.map(([year, postList], index) => {
      return (
        <div class="relative">
          <ul data-animate data-animate-speed="fast" class="space-y-2">
            <h3>{year}</h3>
            {postList.map((post) => {
              return (
                <li style={`--start: ${index * 75}ms;`}>
                  <a
                    href={post.href}
                    class="flex items-center transition-opacity duration-300 hover:!opacity-100 group-hover:opacity-60"
                  >
                    <span class="text-heading">{post.title}</span>
                    <span class="flex-shrink-0 px-2 text-sm text-second">
                      {format(new Date(post.date), 'MM. dd.')}
                    </span>
                  </a>
                </li>
              );
            })}
          </ul>
        </div>
      );
    })
  }
</Main>
